customtkinter
psutil
SpeechRecognition
pyttsx3
Pillow
pyautogui
pycaw
comtypes
screen-brightness-control
winshell
pyperclip
requests
pystray
numexpr
googletrans==4.0.0rc1
pytesseract
PyPDF2
opencv-python
speedtest-cli
spotipy
numpy
pyaudio
